{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'boot.css' %}">
</head>
<style>
    #q:hover{
        color: darkcyan;
    }
</style>
<body style="background-color: black;">
    <nav style="width: 100%;height: 30px;background-color: transparent;">
        <img id="logo" src="https://ik.imagekit.io/sheryians/Sheryians_logo_EzwgcppnD" alt="">
        <a href="{% url 'app1:demo' %}" id="code">Sheryians coding school</a>
        <a href="{% url 'app1:home' %}" id="home">Home</a>
        <a href="{% url 'app1:course' %}" id="course">Courses</a>
        <a href="{% url 'app1:boot' %}" id="course">Bootcamp(Kodr)</a>
        <a href="{% url 'app1:call' %}" id="call">Request Callback</a>
        <a href="{% url 'app1:sign' %}" id="sign"><Button id="button" style="background-color: darkcyan;">Sign in</Button></a>
    </nav>
    <div style="width: 100%;height: 50px;background-color: transparent;"></div>
    <div style="width: 100%;height: 350px;background-color: black;">
        <div style="width: 50%;height: 100%;background-color: black;float: left;">
            <div style="width: 100%;height: 30px;background-color: black;"></div>
            <span style="color: white;font-size: 30px;padding-left: 40px;">6months In-House</span><br>
            <span style="color: white;font-size: 30px;padding-left: 40px;">Bootcamp programme-</span><br>
            <span style="color: white;font-size: 30px;padding-left: 40px;">Kodr.</span><br><br>
            <button style="background-color: gray;color: white;border: none;margin-left: 40px;float: left;width: 150px;height: 20px;">Stats On:11 Nov 2024</button>
            <button style="background-color: gray;color: white;border: none;margin-left: 40px;float: left;width: 150px;height: 20px;">Placment Assistance</button><br><br><br>
            <span style="color: white;padding-left: 40px;font-size: 30px;">Price</span>
            <span style="color: darkcyan;font-size: 30px;">59000</span>
            <span style="color: white;font-size: 15px;">[50000+18%GST]</span><br><br><br>
            <button style="background-color: darkcyan;width: 150px;height: 40px;margin-left: 40px;border: none;border-radius: 5px;">Seats Are Full</button>
        </div>
        <div style="width: 50%;height: 100%;background-color: black;float: left;">
            <img style="width: 80%;height: 100%;" src="https://ik.imagekit.io/sheryians/kodr/IMG_2260_cuLdZRWxFY.JPG" alt="">
        </div>
    </div>
    <div style="width: 100%;height: 50px;background-color: black;"></div>
    <span style="font-size: 60px;color: white;padding-left: 40px;">we believe in,</span><br>
    <span style="font-size: 60px;color: white;padding-left: 40px;"><span style="color: darkcyan;">Consistency.</span>No shortcuts.</span><br><br>
    <button style="width: 150px;height: 30px;background-color: rgb(55, 53, 53);color: whitesmoke;border: black;margin-left: 40px;border-radius: 10px;">MERN Stack</button>
    <button style="width: 250px;height: 30px;background-color: rgb(55, 53, 53);color: whitesmoke;border: black;border-radius: 10px;">Data Structures And Algorithns</button>
    <button style="width: 250px;height: 30px;background-color: rgb(55, 53, 53);color: whitesmoke;border: black;border-radius: 10px;">DBMS-SQL</button><br><br>
    <button style="width: 250px;height: 30px;background-color: rgb(55, 53, 53);color: whitesmoke;border: black;margin-left: 40px;border-radius: 10px;">CORE CS Subjects</button>
    <button style="width: 250px;height: 30px;background-color: rgb(55, 53, 53);color: whitesmoke;border: black;border-radius: 10px;">Placement Assistance</button>


    <h1 style="color: white;padding-left: 50px;font-size: 70px; line-height: 1.5ch;float: left;padding-top: 100px;">Non-Stop<br> <span style="color:darkcyan;">5 Hours <br></span>Coding <sub style="font-size: 60px;">[Everyday]</sub>  </h1><br>
    <br><br>
    <p style="color: white;padding-left: 50px;font-size: 20px;padding-top: 250px;"> Monday To Saturday 11:00AM To 4:00PM.</p>
    <br><br>
    <h3 style="color: white;padding-left: 50px;font-size: 70px; line-height: 1.5ch;float: left;padding-top: 100px;">Dominate.<br> <span style="color:rgb(53, 60, 73);">From Start TO Victory.</h3><br>
    <br><br>
    <center><div style="width: 95%;height: 0.5px;background-color: gray;margin-top: 300px;"></div></center>


    <details style="color: white;">
        <summary><h1 style="color: white;float: left;padding-left: 40px;padding-top: 20px;">HTML/CSS</h1>
                <h5 style="color: white;float: left;padding-left: 600px;padding-top: 30px;">Expand</h5></summary>
        <h4 style="color: gray;margin-left: 40px;padding-top: 60px;">HTML Basics</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Semantic HTML</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Forms and Validation</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Multimedia Elements(Audio,Video)</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">CSS Fundamentals</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Css Box Model</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Flexbox</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Grid Layout</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">CSS Animations</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Transitions</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Keyframe Animations</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Responsive Design</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Media Queries</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">CSS Variables</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">CSS Freameworks(TailwindCSS)</h4>
    </details>
    <center><div style="width: 95%;height: 0.5px;background-color: gray;margin-top: 60px;"></div></center>

    <details style="color: white;">
        <summary><h1 style="color: white;float: left;padding-left: 40px;padding-top: 20px;">JavaScript</h1>
                <h5 style="color: white;float: left;padding-left: 600px;padding-top: 30px;">Expand</h5></summary>
        <h4 style="color: gray;margin-left: 40px;padding-top: 60px;">Introduction To JavaScript</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Functions (Declaration,Expression,Arrow)</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Scope (Global,Local,Block)</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Closures</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Callbacks</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Promises</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Async/Await</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Error Handling</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Event Loop</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">DOM Manipulation</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Object-Oriented Programming (OOP)</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Prototypes</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Inheritance</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">`this` Keyword</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">ES6 Features (Destructuring,Spread Operator)</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">JSON Handling</h4>
        <h4 style="color: gray;margin-left: 40px;padding-top: 5px;">Fetch API</h4>
    </details>
    <center><div style="width: 95%;height: 0.5px;background-color: gray;margin-top: 60px;"></div></center>


    

    
    <div style="width: 100%;height: 300px;background-color: transparent;float: left;"></div>

    <div style="width: 100%;height: 0.05px;background-color: gray;float: left;"></div>
    <div style="width: 100%;height: 50px;background-color: transparent;float: left;"></div>
    <div style="width: 100%;height: 200px;background-color: transparent;float: left;">
        <div style="width: 150px;height: 100px;background-color: transparent;float: left;margin-left: 50px;color: white;">
            <img style="width: 20px;" src="https://ik.imagekit.io/sheryians/Sheryians_logo_EzwgcppnD?updatedAt=1701272916848" alt=""><br>
            <span style="font-size: 10px;">Let's connect with our socials</span>
        </div>
        <div style="width: 150px;height: 200px;background-color: transparent;float: left;margin-left: 100px;color: white;">
            <h4>Company</h4>
            <h6 style="padding-top: 15px;font-size: 10px;" id="q">About Us</h6>
            <h6 style="padding-top: 10px;font-size: 10px;" id="q">Support</h6>
            <h6 style="padding-top: 10px;font-size: 10px;" id="q">Privacy Policy</h6>
            <h6 style="padding-top: 10px;font-size: 10px;" id="q">Terms and Condition</h6>
            <h6 style="padding-top: 10px;font-size: 10px;" id="q">Pricing and Refund</h6>
            <h6 style="padding-top: 10px;font-size: 10px;" id="q">Hire From us</h6>
            <h6 style="padding-top: 10px;font-size: 10px;" id="q">Bug Bounty</h6>
        </div>
        <div style="width: 150px;height: 200px;background-color: transparent;float: left;margin-left: 100px;color: white;">
            <h4>Community</h4>
            <h6 style="padding-top: 15px;font-size: 10px;" id="q">Inertia</h6>
            <h6 style="padding-top: 10px;font-size: 10px;" id="q">Discord</h6>
        </div>
        <div style="width: 150px;height: 200px;background-color: transparent;float: left;margin-left: 100px;color: white;">
            <h4>Get In Touch</h4>
            <h6 style="padding-top: 15px;font-size: 10px;" id="q">+2345678,</h6>
            <h6 style="padding-top: 10px;font-size: 10px;" id="q">+456789</h6>
            <h6 style="padding-top: 10px;font-size: 10px;" id="q">@jtehgfbn.com</h6>
            <h6 style="padding-top: 10px;font-size: 10px;" id="q">hagsd,hgas,<br>yjzhkhxj,hgakj</h6>
        </div>
    </div>
    <div style="width: 100%;height: 30px;background-color: transparent;float: left;"></div>
    <div style="width: 100%;height: 0.05px;background-color: gray;float: left;"></div>

    <div style="width: 100%;height: 50px;background-color: transparent;float: left;color: white;padding-top: 10px;">
        <center><h6>Copyright @ 2024 Sheryians Pvt.Ltd. <br> All Rights Reserved.</h6></center>
    </div>



    <!-- <center><nav style="width: 200px;height: 200px;background-color: blue;"></nav></center> -->
</body>
</html>